$black-one: #1c1c1c;
$black-two: #232323;
$black-three: #2a2a2a;

$faded-text: #919191;
$text: #fff;

$blue: #01ffff;
$blue-text: #002142;

body  {
  background-color: $black-one;
  font-family: 'Roboto', sans-serif;
  margin: 3rem;
  color: $text;
}

.site {
  max-width: 960px;
  margin: 0 auto;
}

.audio-wrapper {
  position: fixed;
  background-color: $black-three;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 999;

  audio {
    margin: .5rem auto .8rem;
    width: 100%;
    max-width: 960px;
    display: block;
  }
}

.search-box {
  display: flex;
  flex-flow: row nowrap;
  position: relative;

  input {
    flex: 1;
    background-color: $black-two;
    border: none;
    font-size: .9rem;
    padding: .75rem;
    font-family: 'Roboto', sans-serif;
    color: $faded-text;
    outline: none;

    &:focus {
      color: $text;
    }
  }

   button {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    background-color: $blue;
    color: $blue-text;
    border: none;
    padding: 0 1rem;
    border-radius: 2px;
    margin-left: 1rem;
    cursor: pointer;
    outline: none;
    transition: all 150ms ease;
   }
}

.search-results {
  height: 0;
  overflow: hidden;
  transition: all 250ms ease;
  opacity: 0;

  &.show {
    transform: none;
    height: auto;
    opacity: 1;
  }

  h2 {
    font-size: 1.1rem;
    font-weight: 400;
    margin: 1rem 0;
    padding: .4rem 0;
    border-bottom: 2px solid $black-two;
  }

  h3 {
    font-weight: 400;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: $blue;
  }

  .open-album {
    border-top: 2px solid $black-two;
    padding-top: 2rem;
    margin-top: 1rem;
    transform: translateY(-25%);
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: all 250ms ease;

    &.show {
      transform: none;
      opacity: 1;
      height: auto;
    }

    .top {
      display: flex;
      flex-direction: row nowrap;
      align-items: flex-start;
      position: relative;
      z-index: 10;
      max-width: 80%;

      figure {
        margin: 0 1rem;
        box-shadow: 0 2px 4px rgba(0,0,0,.3);
        z-index: 30;

        img {
          width: 150px;
          display: block;
        }
      }

      h4 {
        text-align: center;
        color: $blue;
        font-size: 1.3rem;
        display: block;
        font-weight: 400;
        margin-top: .5rem;
      }
    }

    .bottom {
      position: relative;
      transform: translateY(-75px);
      background-color: $black-three;

      button {
        cursor: pointer;
        background-color: $blue;
        border-radius: 50%;
        font-size: 1.2rem;
        line-height: 1.8rem;
        padding-left: 0.5rem;
        width: 2rem;
        height: 2rem;
        color: $blue-text;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: .9;
        transition: all 150ms ease;

        &:hover {
          opacity: 1;
        }
      }

      table {
        min-height: 200px;
        padding: 1rem;
        padding-left: calc(150px + 2rem);
        width: 100%;
        transform: translateY(-2.9rem);

        thead {
          th {
            text-align: left;
            font-weight: 400;
          }
        }

        tbody {
          font-weight: 300;
          position: relative;
          z-index: 15;

          td {
            border-bottom: 1px solid $black-one;
            padding: .8rem 0;
          }

          tr:first-child {
            td {
              padding-top: 1.5rem;
            }
          }

          tr:last-child {
            td {
              border-bottom: 0;
            }
          }
        }
      }
    }
  }

  .album-flow {
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;

    figure {
      margin: 1rem;
      display: flex;
      flex-direction: column;
      cursor: pointer;

      img {
        width: 150px;
        height: 150px;
      }

      figcaption {
        text-align: center;
        color: $blue;
        display: block;
        font-weight: 400;
        max-width: 150px;
        margin-top: .8rem;
      }
    }
  }
}