<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
  <meta charset="utf-8">
  <title>Deezer App</title>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,300,100" media="not all" onload="if (media != 'all')media='all'">
  <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons" media="not all" onload="if (media != 'all') media = 'all'">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <audio id="audio" autoplay></audio>
  <div class="site">
    <!-- suggestionList.js controlls this div -->
    <div class="search-box" id="search">
      <input type="text" id="search-input" list="suggestions" placeholder="Search for an artist...">
      <datalist id="suggestions"></datalist>
      <button>Search</button>
   </div>

    <div class="search-results">
      <h2>Albums from </h2>

      <section class="albums">
        <h3>Albums</h3>
        <!-- albumList.js controlls this div -->
        <div class="album-flow" id="albums"></div>
      </section>
    </div>

    <!-- trackList.js controlls this div -->
    <div id="track-list" class="track-list"></div>
  </div>


  <div id="dz-root"></div>

  <!-- Libs and their dependencies -->
  <script src="https://unpkg.com/jquery@3.4.1/dist/jquery.js"></script>
  <script src="https://unpkg.com/underscore@1.9.1/underscore.js"></script>
  <script src="https://unpkg.com/backbone@1.4.0/backbone.js"></script>
  <script>window._Backbone = Backbone; window.Backbone = undefined;</script>
  <script src="https://cdns-files.deezer.com/js/min/dz.js"></script>

  <!-- Template for track list -->
  <script type="text/template" id="tracklist-template">
    <div class="top">
        <figure>
          <img src="<%= albumCover %>" alt="<%= albumName %>">
        </figure>
        <h4><%= albumName %></h4>
      </div>
      <div class="bottom">
        <table>
          <thead>
            <tr>
              <th>#</th>
              <th>Title</th>
              <th>Duration</th>
              <th>Released</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <% _.each(tracks, function(track){ %>
              <tr>
                <td><%= track.position %></td>
                <td><%= track.name %></td>
                <td><%= track.duration %></td>
                <td><%= albumReleased %></td>
                <td><button class="material-icons" data-preview="<%= track.preview %>">play_arrow</button></td>
              </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
  </script>
  <script src="js/setup.js" type="module"></script>
</body>
</html>